<span class="select">
  <a class="<%= type === 'global' ? 'active': '' %>" href="index.html">Global</a>
  <a class="<%= type === 'vietnam' ? 'active': '' %>" href="users.vietnam.html">Vietnam</a>
</span>
